<ion-view title="White Varetals" id="page3" style="background-color:#000000;">
  <ion-content padding="false" class="has-header">

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/winemaker-notes/lago-white-wn-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/winemaker-notes/lago-rose-wn-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/winemaker-notes/lago-red-wn-app.jpg">
      </div>

    </div>

  </ion-content>
</ion-view>
