<ion-view title="Pos" id="page7" style="background-color:#000000;" >
  <ion-content padding="true" class="has-header">
    <h3>Everything you need to sell more wine to more people more often at higher prices.</h3>

    <div class="list card">

      <div style="text-align: center" class="item item-body">

        <a href="#" onclick="window.open('http://internationalvines.net/trade', '_system', 'location=yes'); return false;" id="trade-1">Find all this and more at internationalvines.net/trade</a>
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/WS-&-WE-LAGO-AND-CALCADA-2014-1.jpg">
        <img class="full-image" src="img/pos/WS-&-WE-LAGO-AND-CALCADA-2014-2.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/Shanken-VV-climbs-over-500,000-cs-in-US-1.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/CNBC-Portugal-is-shaking-up-the-wine-world-12-14-1.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/press-kit-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/press-kit-app-2.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/lago-white-st-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/lago-red-tt-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/calcada-table-tent-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/calcada-rose-st-app.jpg">
      </div>

    </div>

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/pos/snazzy-app-img.jpg">
      </div>

    </div>


    <div class="list card">

      <div style="text-align: center" class="item item-body">
        <a href="#" onclick="window.open('http://internationalvines.net/trade', '_system', 'location=yes'); return false;" id="trade-2">Find all this and more at internationalvines.net/trade</a>
      </div>

    </div>
  </ion-content>
</ion-view>
