<ion-view title="Vermelho Varetals ( Rosa)" id="page17">
    <ion-content padding="false" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <h2 class="title">Heading</h2>
                    <button>Sound File</button>
                </div>
                <div id="vermelhoVaretalsRosa-markdown25" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <h2 class="title">Heading</h2>
                    <button>Sound File</button>
                </div>
                <div id="vermelhoVaretalsRosa-markdown26" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <h2 class="title">Heading</h2>
                    <button>Sound File</button>
                </div>
                <div id="vermelhoVaretalsRosa-markdown27" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>