<ion-view title="Vineyards" id="page5" style="background-color:#000000;" >
  <ion-content padding="true" class="has-header">
    <ion-slide-box does-continue="true" show-pager='true' slide-interval="3000" auto-play="true" on-slide-changed="slideChanged(index)">
      <ion-slide>
        <div class="list card">

          <div class="item item-body">
            <h2 style="margin-top:7px !important;" class="item-header">Historic Vineyards</h2>
            <p>
              Quinta da Calçada has the oldest certified vineyard in the Vinho Verde region. Ages range from 50 to 100 years.
            </p>
          </div>

        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">

          <div class="item item-body">
            <img class="full-image" src="img/vineyards-story/calcada-vineyards-beautiful.jpg">
            <p>
              Our many Vineyards are located throughout the sub-region of Amarante, within Vinho Verde; a brief 40 minutes from Oporto and 15 minutes from the entrance to Douro Valley. Because of its location and higher altitude we enjoy a diverse microclimate that
              makes our terroir so distinctive.
            </p>
          </div>

        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">

          <div class="item item-body">
            <img class="full-image" src="img/homepage-story/qdc-casa-1.jpg">
            <h2 class="item-header">Terroir</h2>
            <p>
              Hot day time temperatures are ameliorated by the cooling effects of the Atlantic Ocean in the evening. In our highest altitude vineyards, the difference in temperature between day and night can be as significant as 18ºC (30ºF). Such wide daily temperatures
              result in longer hang time and more even ripening for the grapes. The early harvest in the microclimate of Amarante assures prime picking times, and minimalizing exposure to autumn rains.
            </p>
          </div>

        </div>
      </ion-slide>
      <ion-slide>

        <div class="list card">

          <div class="item item-body">
            <img class="full-image" src="img/vineyards-story/vineyard-and-cellars.jpg">
            <h2 class="item-header">Vineyard Practices</h2>
            <p>
              The viticultural philosophy is of minimum intervention with respect for nature, the grape and the wine. The use of high density planting with low production per vine to extracts the full complexity of each grape. Optimal nutrition and irrigation is applied
              specific to vineyards needs. Sensorial analysis of the grapes is used to evaluate maturation to indicate time for harvesting. Careful selection and collection of each parcel is a core operation for the vinicultural team. Sustainable practices,
              certified by sativa.
            </p>
            <h2 class="item-header">Soil</h2>
            <p>
              The soils of Calçada Estate consist mainly of granite and some mixes of chist.
            </p>
          </div>

        </div>
      </ion-slide>
    </ion-slide-box>
    <a ui-sref="app.ourVineyards" id="ourVineyards" class="button button-light  button-outline  button-block">OUR VINEYARDS</a>

  </ion-content>
</ion-view>
