<ion-view title="Vinhos" id="page11" style="background-color:#000000;" >
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="menu.brancoVaretals" id="vinhos-button17" class="button button-positive  button-block">BRANCO</a>
        <a ui-sref="menu.vermelhoVaretalsRosa" id="vinhos-button18" class="button button-positive  button-block">VERMELHO (ROSA)</a>
        <a ui-sref="menu.vermelhoVaretals" id="vinhos-button19" class="button button-positive  button-block">VERMELHO</a>
    </ion-content>
</ion-view>
