<ion-view title="Wines" id="page2" style="background-color:#000000;" >

  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
      <ion-slide-box does-continue="true"
                    show-pager='true'
                    slide-interval="3000"
                    auto-play="true"
                    on-slide-changed="slideChanged(index)">
        <ion-slide>
            <img class="full-image" src="img/wines-story-img/quinta-family.jpg">
              <button  ui-sref="app.quinta" class="button button-light  button-outline  button-block">
              Quinta Winemaker Notes
            </button>
            <p>
              The quintessential Calçada wines are made in very limited production showing the ultimate potential of the Vinho Verde region. Our range of selections explores the individual identities of Calçada’s vineyards. The Quinta Portal portfolio compares to some of the finest white wines in the world delivering outstanding gastronomical experiences.
            </p>
            <p>
              Grapes selected from the best parcels and handsorted. Using batonage sur lies in the Quinta da Portal enhances the character and identity of our parcels.
            </p>
        </ion-slide>
        <ion-slide>
            <img class="full-image" src="img/wines-story-img/portal-family.jpg">
              <button  ui-sref="app.portal" class="button button-light  button-outline  button-block">
              Portal Winemaker Notes
            </button>
            <p>
              The Portal da Calcada selections include wines made from some of the oldest documented vines in the Vinho Verde Region. Very limited yields, hand harvesting and cluster sorting give the deepest and richest character to wines from this versatile region. The winemaking philosophy of respecting the purity of the grown fruit is to use wild yeast in the wine production process.
            </p>
        </ion-slide>
        <ion-slide>
          <img class="full-image" src="img/wines-story-img/lago-family.jpg">
  			    <button  ui-sref="app.lago" class="button button-light  button-outline  button-block">
  				  Lago Winemaker Notes
  				</button>
  		    <p>
  		      The LAGO collection White and Rosé wines share the same commitment to hand-picked, Estate grown fruit that comes from the Estate of Calcada. The wines represent an unsurpassed quality and value, delivering European elegance where the  brand fills a complete level of lifestyle, with appealing packaging, focusing on blends both in white, Red and a special Rose.
  		    </p>
        </ion-slide>
      </ion-slide-box>
        <button ui-sref="app.whiteVaretals" id="wines-button13" class="button button-light  button-outline  button-block">WHITE</button>
        <button ui-sref="app.redVaretalsRos" id="wines-button14" class="button button-light  button-outline  button-block">RED (ROSÉ)</button>
        <button ui-sref="app.redVaretals" id="wines-button15" class="button button-light  button-outline  button-block">RED</button>
    </ion-content>
</ion-view>
